.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link {
    margin: 5px;
    text-decoration: none;
    color: black;
}

.header-search {
border: none;
height: 30px;
width: 250px;
padding-left: 7px;
}
.header-search:focus{
    outline: none;
}
.header-set {
    margin-right: 5px;
    border: none;
    width: 100px;
    padding: 4px;
}
.header-set:focus {
    outline: none;
}