.form-container {
    padding: 15px;
}
.form-title {
    font-size: 1.3em;
    text-align: center;
}
.i-container {
    display: flex;
    align-items: center;
    margin: 10px;
}
.i-label {
    width: 160px;
    font-size: 1.1em;
    font-weight: 500;
    opacity: .8;
}
.i-box {
    height: 20px;
    width: max-content;
    padding: 6px;
    border: 1px solid black;
    border-radius: 3px;
}
.i-box:focus{
    outline: none;
}
.error-container {
    display: flex;
    justify-content: center;
    color: tomato;
    font-size: 1.1em;
}
