.show-container {
    padding: 15px;
}
.show-emp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show-emp-list {
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
}
.list-content {
    width: max-content;
}
.emp-title {
    background-color: rgba(46,204,113,.3);
    padding: 10px;
    font-size: 1.3em;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    width: max-content;
}
.description {
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px;
}
.emp-go-btn {
    width: 150px;
    background-color: var(--main-edit-btn);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.true-btn{
    width: 75px;
    background-color: greenyellow;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: none;
}
.false-btn{
    width: 75px;
    background-color: tomato;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: none;
}
.reflesh-btn {
    padding: 7px;
    border: none;
    background-color: gainsboro;
    color: black;
    cursor: pointer;
    transition: 200ms padding;
}
.reflesh-btn:hover {
    padding: 10px;
}